body {
  text-align: center;
  margin: 0;
  font-family: monospace;
}
a {
  color: inherit;
  text-decoration: none;
}
.header {
  display: block;
  margin-top: 30px;
}
.title {
  font-size: 30px;
  padding: 10px;
  display: inline-block;
}
.menu a {
  display: inline-block;
  padding: 10px;
}
.intro {
  display: inline-block;
  margin: 30px 0 50px;
  width: 500px;
  line-height: 2;
}
.profile {
  width: 200px;
  border-radius: 100%;
  margin-bottom: 20px;
}
.name {
  font-size: 20px;
}
.posts a {
  display: inline-block;
  margin-bottom: 30px;
}
.post-title {
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
}
.top {
  display: inline-block;
  padding: 10px 0;
  border-bottom: solid 1px;
  margin: 30px 0 100px;
  cursor: pointer;
}
