<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}"{% if site.design_theme %} class="design-v1"{% endif %}>
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
    {%- include copy-code.html -%}
    {%- include github-embed-js.html -%}
    {%- include heading-anchors.html -%}
  </body>
</html>
